<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/stylesheets/hack.css" media="screen" title="no title">
</head>
<body style="width: 300px">

<main>


    <nav style="background-color: #FFFFFF">
        <div class="nav-wrapper" style="width: 100%; background-color: #1473BE">

                <a href="#">           <div style="width: 50%;
    float:left; font-size: 24px;" class="center t-links ">Links

                </div>
                </a>

            <a href="#">
                <div style="width: 50% ;font-size: 24px;
    float:left;" class="center t-pins">Pins
                    </div>
            </a>
        </ul>
            </div>
    </nav>
    <section class="pins-section hidden">
        <div id='quickLinks' class='top-bar'>
            <div class="topic-pins">
                <% pins.forEach(function (pin) { %>
                <div id=<%= pin.id %> class='pins-container'>
                    <p class="pin">
                        <%= pin.title %>
                    </p>
                </div>
                <% }); %>
            </div>
        </div>
    </section>
    <section class='app-canvas links-section'>
        <div id="chart" class="chartContainer"></div>
        <div class="all_links">
           <p class="tag_heading" style="width: 100%; font-size: 24px;">All Links</p>
                </div>
        <div id='articles' class='article-container'>
            <% tags.forEach(function (tag) { %>
            <article class="card">
                <div class="logo">
                    <img src=<%= tag.url %> alt="" class="size_70"/>
                </div>
                <div class="topic">
                    <p class="tag_heading">
                        <%= tag.title %>
                    </p>
                </div>
                <img src="images/share.png" style="width: 30px;   position: absolute;    top: 5px;    right: 5px;padding:2px;"  />
            </article>
            <% }) %>
        </div>
    </section>
    <section id="reader-view" class="reader-view hide">
        <img src="/images/cancel.png" alt="" id="close" class="close"/>
        <div class="section-heading">
            <div class="logo">
                <img src="" alt="" class="size32"/>
            </div>
            <div class="topic">
                <p class="tag_heading">
                </p>
            </div>
        </div>
        <div class="questions ">
        </div>
    </section>
</main>
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous">
</script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src='/javascripts/materialize.min.js'></script>
<script type="text/javascript" src='/javascripts/app.js'></script>
</body>
</html>
